[Desktop Entry]
Type=Application
Version=1.0
Name=Restart
Comment=Suspends the computer
Exec=reboot
Icon=~/.myfiles/icons/gnome-session-reboot.svg
Terminal=false
Categories=System;power
