"*":
  "exception-reporting":
    userId: "80cf1082-c74c-6f32-aa50-2cf70afdf315"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "symbol-gen"
      "symbols-view"
    ]
  editor:
    invisibles: {}
  "atom-ctags": {}
  "gtk-dark-theme": {}
  "atom-ternjs": {}
